USE [master]
GO
/****** Object:  Database [BDBANCOS]    Script Date: 30/01/2015 13:11:22 ******/
CREATE DATABASE [BDBANCOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDBANCOS', FILENAME = N'C:\BDBANCOS\BDBANCOS.mdf' , SIZE = 5120KB , MAXSIZE = 10240000KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'BDBANCOS_log', FILENAME = N'C:\BDBANCOS\BDBANCOS.LDF' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDBANCOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDBANCOS]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 30/01/2015 13:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[Codigo_cliente] [int] NOT NULL,
	[dni] [int] NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[apellidos1] [varchar](20) NOT NULL,
	[apellidos2] [varchar](20) NULL,
	[direccion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ck_cod_cliente] UNIQUE NONCLUSTERED 
(
	[Codigo_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 30/01/2015 13:11:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cuenta](
	[tipo] [varchar](1) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[saldo] [int] NOT NULL,
	[cod_cuenta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 30/01/2015 13:11:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[fecha] [datetime] NOT NULL,
	[cantidad] [decimal](4, 0) NOT NULL,
	[dni] [int] NOT NULL,
	[cod_cuenta] [int] NOT NULL,
	[id_movimiento] [int] NOT NULL,
 CONSTRAINT [id_movimiento] PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [fecha] UNIQUE NONCLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tiene]    Script Date: 30/01/2015 13:11:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiene](
	[dni] [int] NOT NULL,
	[cod_cuenta] [int] NOT NULL,
 CONSTRAINT [PK_tiene_cod_cuenta_dni] PRIMARY KEY CLUSTERED 
(
	[dni] ASC,
	[cod_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_cod_cuenta] FOREIGN KEY([cod_cuenta])
REFERENCES [dbo].[Cuenta] ([cod_cuenta])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_cod_cuenta]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_dni] FOREIGN KEY([dni])
REFERENCES [dbo].[Clientes] ([dni])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_dni]
GO
ALTER TABLE [dbo].[Tiene]  WITH CHECK ADD  CONSTRAINT [FK_tiene_cod_cuenta] FOREIGN KEY([cod_cuenta])
REFERENCES [dbo].[Cuenta] ([cod_cuenta])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tiene] CHECK CONSTRAINT [FK_tiene_cod_cuenta]
GO
ALTER TABLE [dbo].[Tiene]  WITH CHECK ADD  CONSTRAINT [FK_tiene_dni] FOREIGN KEY([dni])
REFERENCES [dbo].[Clientes] ([dni])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tiene] CHECK CONSTRAINT [FK_tiene_dni]
GO
USE [master]
GO
