USE [master]
GO
/****** Object:  Database [Prueba]    Script Date: 30/01/2015 13:14:44 ******/
CREATE DATABASE [Prueba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prueba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLDAW107\MSSQL\DATA\Prueba.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Prueba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLDAW107\MSSQL\DATA\Prueba_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prueba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prueba]
GO
/****** Object:  Table [dbo].[ALUM2014]    Script Date: 30/01/2015 13:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ALUM2014](
	[dni] [varchar](10) NULL,
	[nombre] [varchar](15) NULL,
	[apellidos] [varchar](20) NULL,
	[fecha_nac] [date] NULL,
	[direccion] [varchar](20) NULL,
	[poblacion] [varchar](20) NULL,
	[provincia] [varchar](20) NULL,
	[curso] [int] NULL,
	[nivel] [varchar](3) NULL,
	[clase] [char](1) NULL,
	[faltas1] [int] NULL,
	[faltas2] [int] NULL,
	[faltas3] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cocineros]    Script Date: 30/01/2015 13:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cocineros](
	[nombre] [varchar](20) NULL,
	[edad] [int] NULL,
	[pais] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Condiciones]    Script Date: 30/01/2015 13:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Condiciones](
	[Dni] [char](10) NOT NULL,
	[Edad] [char](10) NOT NULL,
	[Nombre] [varchar](60) NOT NULL,
	[Curso] [int] NOT NULL,
	[Codig] [tinyint] NULL,
 CONSTRAINT [Dni] PRIMARY KEY CLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Un_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[herramientas]    Script Date: 30/01/2015 13:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[herramientas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[franceses]    Script Date: 30/01/2015 13:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[franceses] as SELECT nombre ,pais FROM cocineros
WHERE pais= 'Francia' WITH CHECK OPTION;
GO
ALTER TABLE [dbo].[Condiciones]  WITH CHECK ADD CHECK  (([Curso] like '[1-3]'))
GO
ALTER TABLE [dbo].[Condiciones]  WITH CHECK ADD CHECK  (([Edad] like '[5-20]'))
GO
USE [master]
GO
